- https://www.kaggle.com/datasets/henrysue/online-shoppers-intention
- https://archive.ics.uci.edu/ml/datasets/Online+Shoppers+Purchasing+Intention+Dataset

In [23]:
import pandas as pd

from sklearn.ensemble import StackingRegressor, StackingClassifier
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.model_selection import train_test_split
import numpy as np


from sklearn.preprocessing import OneHotEncoder, LabelEncoder


from sklearn.metrics import accuracy_score

from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import numpy as np

In [24]:
df = pd.read_csv("dataset/online_shoppers_intention.csv")
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [25]:
df.columns

Index(['Administrative', 'Administrative_Duration', 'Informational',
       'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration',
       'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay', 'Month',
       'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'VisitorType',
       'Weekend', 'Revenue'],
      dtype='object')

In [26]:
df.Month.unique()

array(['Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep',
       'Dec'], dtype=object)

In [27]:
month_mapping = {
    'Jan': 1,
    'Feb': 2,
    'Mar': 3,
    'Apr': 4,
    'May': 5,
    'June': 6,
    'Jul':7,
    "Aug": 8,
    "Sep": 9,
    "Oct": 10,
    "Nov": 11,
    "Dec": 12
}

# Assuming 'df' is your DataFrame containing the 'month' column with abbreviated month names
df['month_number'] = df['Month'].map(month_mapping)
df['month_number'] = df['month_number'].astype('int')

In [28]:
df['month_number'].unique()

array([ 2,  3,  5, 10,  6,  7,  8, 11,  9, 12])

In [29]:
df['Revenue'] = df['Revenue'].replace({True:1, False:0})
df['Weekend'] = df['Weekend'].replace({True:1, False:0})

In [30]:
df  = pd.get_dummies(df.drop(['Month'], axis=1), drop_first=False)
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue,month_number,VisitorType_New_Visitor,VisitorType_Other,VisitorType_Returning_Visitor
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,1,1,1,1,0,0,2,0,0,1
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,2,2,1,2,0,0,2,0,0,1
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,4,1,9,3,0,0,2,0,0,1
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,3,2,2,4,0,0,2,0,0,1
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,3,3,1,4,1,0,2,0,0,1

In [31]:
X = df.drop(['Informational_Duration','Weekend','Revenue'], axis= 1)
y_revenue = df['Revenue']
y_weekend = df['Weekend']
y_info_duration = df['Informational_Duration']

In [32]:
X.head()

,Administrative,Administrative_Duration,Informational,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType,month_number,VisitorType_New_Visitor,VisitorType_Other,VisitorType_Returning_Visitor
0,0,0.0,0,1,0.000000,0.20,0.20,0.0,0.0,1,1,1,1,2,0,0,1
1,0,0.0,0,2,64.000000,0.00,0.10,0.0,0.0,2,2,1,2,2,0,0,1
2,0,0.0,0,1,0.000000,0.20,0.20,0.0,0.0,4,1,9,3,2,0,0,1
3,0,0.0,0,2,2.666667,0.05,0.14,0.0,0.0,3,2,2,4,2,0,0,1
4,0,0.0,0,10,627.500000,0.02,0.05,0.0,0.0,3,3,1,4,2,0,0,1

___

In [33]:
# Split the data into training and testing sets for revenue prediction
X_train_revenue, X_test_revenue, y_train_revenue, y_test_revenue = train_test_split(X, y_revenue, test_size=0.2, random_state=42)

# Build and train the base model for revenue prediction
base_model_revenue = RandomForestClassifier()
base_model_revenue.fit(X_train_revenue, y_train_revenue)

# Generate revenue predictions
revenue_predictions = base_model_revenue.predict(X_test_revenue)

#################################################################################################

independent_features = pd.concat([X_train_revenue,X_test_revenue], axis=0)
revenue = pd.concat([y_train_revenue,pd.DataFrame(revenue_predictions)], axis=0)

# Combine revenue predictions with other independent features
X_test_combined = np.column_stack((independent_features, revenue))


# Split the data into training and testing sets for weekend prediction
X_train_weekend, X_test_weekend, y_train_weekend, y_test_weekend = train_test_split(X_test_combined, y_weekend, test_size=0.2, random_state=42)


# Build and train the base model for weekend prediction
base_model_weekend = RandomForestClassifier()
base_model_weekend.fit(X_train_weekend, y_train_weekend)

# Generate weekend predictions
weekend_predictions = base_model_weekend.predict(X_test_weekend)

#################################################################

independent_features = pd.concat([pd.DataFrame(X_train_weekend),pd.DataFrame(X_test_weekend)], axis=0)
weekend = pd.concat([y_train_weekend, pd.DataFrame(weekend_predictions)], axis=0)

# Combine revenue predictions with other independent features
X_test_combined = np.column_stack((independent_features, weekend))



# Split the data into training and testing sets for informational duration prediction
X_train_info_duration, X_test_info_duration, y_train_info_duration, y_test_info_duration = train_test_split(X_test_combined, y_info_duration, test_size=0.2, random_state=42)

# Build and train the base model for informational duration prediction
base_model_info_duration = LinearRegression()
base_model_info_duration.fit(X_train_info_duration, y_train_info_duration)

# Generate informational duration predictions
info_duration_predictions = base_model_info_duration.predict(X_test_info_duration)


##########################################

predictions = {'revenue_predictions':revenue_predictions,
                "weekend_predictions": weekend_predictions,
                 "info_duration_predictions": info_duration_predictions
                }

pd.DataFrame(predictions)

      revenue_predictions  weekend_predictions  info_duration_predictions
0                       0                    0                  35.105174
1                       0                    0                  24.054100
2                       0                    0                  65.185614
3                       1                    0                  24.864239
4                       0                    0                  28.042592
...                   ...                  ...                        ...
2461                    1                    0                  29.096529
2462                    0                    0                  36.869559
2463                    0                    0                  31.974424
2464                    0                    0                  36.363737
2465                    0                    0                  26.947837

[2466 rows x 3 columns]

In [34]:
predictions = {'revenue_predictions':revenue_predictions,
                "weekend_predictions": weekend_predictions,
                 "info_duration_predictions": info_duration_predictions
                }

pd.DataFrame(predictions)

      revenue_predictions  weekend_predictions  info_duration_predictions
0                       0                    0                  35.105174
1                       0                    0                  24.054100
2                       0                    0                  65.185614
3                       1                    0                  24.864239
4                       0                    0                  28.042592
...                   ...                  ...                        ...
2461                    1                    0                  29.096529
2462                    0                    0                  36.869559
2463                    0                    0                  31.974424
2464                    0                    0                  36.363737
2465                    0                    0                  26.947837

[2466 rows x 3 columns]

In [36]:
accuracy_score(y_test_revenue,revenue_predictions)

0.8880778588807786

In [37]:
accuracy_score(y_test_weekend,weekend_predictions)

0.7400648824006488

___

# MultiOutputClassifier

In [39]:
X = df.drop(['Informational_Duration','Weekend','Revenue'], axis= 1)
y = df[['Revenue','Weekend']]

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.multioutput import MultiOutputRegressor, MultiOutputClassifier

# Assuming X is your feature matrix and y is your target matrix containing Revenue, Weekend, and Info_duration
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the base model for multi-output regression
base_model = RandomForestClassifier()

# Create a multi-output regression model
model = MultiOutputClassifier(base_model)

# Fit the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

In [43]:
predictions = pd.DataFrame(y_pred)
predictions

      0  1
0     0  0
1     0  0
2     0  0
3     1  0
4     0  0
...  .. ..
2461  1  0
2462  0  0
2463  0  0
2464  0  0
2465  0  0

[2466 rows x 2 columns]